*
!*/
# Whitelisted files:
!static/*
!.gitignore
!LICENSE
!README.md
!data/europa-galileo-mosaic.png
!Europa-Canny-Tuning.py
!Europa-Canny-Hough-Detection.py
!europa-filters.ipynb
!preprocessing_tests.ipynb
!data/C0383713713R_full.jpg
!data/C0374649039R_full.jpg